.box_slide_main .sb_alert {
    color: #6699cc;
    font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: .5rem;
}
.box_slide_main  .date_time {
	margin-bottom: 1rem;
	    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.box_slide_main .ct-wraning {
	color: #ff0000;
	margin-bottom: 1.5rem;
	line-height: 20px;
	 font-size: 1rem;
}
.box_slide_main .marker .fa{
	font-size: 20px;
	margin-right: 5px;
}
.box_message_news  {
	height: 390px;
}
.box_system {
	height: 390px;
	border: 1px solid #ccc;
}
.slider_main {
	height: 300px;
}
.social_news {
	border-top:2px solid #6699cc;
	padding-top: 10px;
	float: none;
}
.social_news li{
	float: right;
}
.social_news li:last-child {
	margin-right: 11px;
}
.box_report > h3 {
    text-align: center;
   text-transform: unset;
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}
article.pad-10 {
    /* padding: 10px 0px; */
    background: url(../../nhaquanly/img/bg_dn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e8e8e8;
    background-size: cover;
}